* {
    margin: 0;
    padding: 0;
}


/* header section style */

.header {
    background:
        linear-gradient(0deg, rgba(18, 18, 18, 1), rgba(18, 18, 18, 0) 100%),
        url(../images/donation1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.header-des {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    opacity: 0.7;
    font-weight: 400;
    text-align: center;
}

.donate-btn {
    border-radius: 5px;
    background: rgb(255, 89, 89);
    width: 160px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    border: none;
}




/* donated section style */
.donate {
    display: flex;
    justify-items: center;
    text-align: center;
    margin-top: 80px;
    align-items: center;
    flex-direction: column;
}

.donate-title {
    color: rgb(18, 18, 18);
    ;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.donate-des {
    color: rgb(112, 112, 112);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 600px;
    text-align: center;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.container a {
    text-decoration: none;
    color: black;
}

.child-1 {
    border: 2px solid lavenderblush;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgb(250, 250, 250);
    padding: 20px;
    font-size: 20px;
    width: 135px;
    height: 123px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.child-2 {
    box-sizing: border-box;
    border: 2px solid rgb(255, 89, 89);
    border-radius: 5px;
    background: rgb(255, 238, 238);
    padding: 20px;
    font-size: 20px;
    width: 135px;
    height: 123px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.child-3 {
    border: 2px solid lavenderblush;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgb(250, 250, 250);
    padding: 20px;
    font-size: 20px;
    width: 135px;
    height: 123px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.child-4 {
    border: 2px solid lavenderblush;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgb(250, 250, 250);
    padding: 20px;
    font-size: 20px;
    width: 135px;
    height: 123px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.child-5 {
    border: 2px solid lavenderblush;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgb(250, 250, 250);
    padding: 20px;
    font-size: 20px;
    width: 135px;
    height: 123px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ch-2 {
    color: rgb(255, 89, 89);
}

.hr-container {
    margin: 40px 0;
}

.hr-container hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 0;
    width: 800px;
}

.hr-text {
    color: rgb(179, 179, 179);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}







/* small devices */

@media screen and (max-width:576px) {
    .header {
        height: 100svh;
    }

    .header-title {
        font-size: 2rem;
    }

    .header-des {
        font-size: 0.8rem;
    }

    .donate-btn {
        margin-top: 30px;
        height: 50px;
    }
}


/* medium devices */

@media screen and (min-width:577px) and (max-width:992px) {}



/* large devices */

@media screen and (min-width: 993px) {}