* {
    margin: 0;
    padding: 0;
}



.header {
    background:
    linear-gradient(0deg, rgba(18, 18, 18, 1), rgba(18, 18, 18, 0) 100%),
    url(../images/donation1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 699px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-title{
color: rgb(255, 255, 255);
font-size: 3rem;
text-align: center;
font-weight: 700;
line-height: 50px;
}
.header-des{
color: rgb(255, 255, 255);
font-size: 1.5rem;
opacity: 0.7;
font-weight: 400;
text-align: center;
}
.donate-btn{
border-radius: 5px;
background: rgb(255, 89, 89);
width: 160px;
height: 56px;
text-align: center;
align-items: center;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
line-height: 24px;
cursor:pointer ;
}
